<% projects = current_site.the_post_type("projects")%>
<% activemenu = @category.the_slug %>

<div class="container pt-4">
	<div class="row">
		
			<div class="col-sm-3 submenu">
				<div class="tag "><%= t('projects')%></div>
					<!-- / Categories -->
					<ul class="portfolio">
						<li class="<%= activemenu == 'projects' ? 'active' : ''%> "><a href="<%=projects.the_url%>"><%=t('all')%></a>
				        </li>
						<% projects.the_categories.where.not(:name => "Uncategorized").decorate.each do |cat|%>

				           <li class="<%= activemenu == cat.the_slug ? 'active' : ''%> "><a href="<%=cat.the_url%>"><%=cat.the_title%></a>
				                </li>
				        <%end%>
					</ul>
				</div>
			<div class="col-sm-9">
				<h2><%= t('ourreferences')%></h2>
				<div class="projects row">

					<% @category.the_posts.decorate.each_with_index do |project,index|%> 
					        <div class="item col-sm-6 col-md-6 col-xs-12" 
					           style="<%= index.even? ? "clear:left": '' %>">
					           <a href="<%= project.the_url%>" >
								<img class="img-fluid" alt="<%=project.the_title%>" src="<%=project.the_thumb_url%>">
								<h3>
									<%=project.the_title%>

									<div class="small"><%=project.the_field("project-location")%></div>
								</h3>
							   </a>
							</div>
						
						<% if index.odd?%>
							<div class="row"></div>
						<%end%>
				    <%end%>
			  	</div>
			</div>
			
	
	</div>
</div>