<% career = current_site.the_post_type("career")%>
<% first = career.the_posts.where(:post_parent => nil)[0].decorate%>
<div class="header-image" style="background-image:url(<%= first.the_thumb_url %>); ">
</div>
<div class="container pb-3 pt-4">

	<div class="row">

			<div class="col-xs-12 col-md-3 submenu">
					<div class="tag">
						<%= t('jobs')%>
					</div>

					<!-- / Subpages -->

					<%= raw get_nav_menu('careermenu', 'career')%>
				</div>
			<div class="col-12  col-md-9 joblist">
			
				<%= raw first.the_content%>

				<% career.the_posts.where.not(:post_parent => nil).decorate.each_with_index do |job,index|%> 
					<a aria-controls="mep_<%=index%>" aria-expanded="false" class="job collapsed" data-toggle="collapse" href="#job_mep_<%=index%>" role="button">
					<div class="job row" id="mep_<%=index%>">
						<div class="col-8 pl-0">
							
								<div class="job-title" itemprop="about"><h2><%= job.the_title %></h2>

									<p><%= job.the_field('location') %></p>
								</div>
							
						</div>
						<div class="small job-date col-4 pr-0 text-right ">
							<%=  t('deadline') %>
							<%= l(Date.parse(job.the_field('application-deadline')), format: t('date.formats.dateonly')) %>
						</div>
						
					</div>
					</a>
					<div class="collapse mt-0" id="job_mep_<%=index%>" aria-expanded="false" style="height: 7px;">
							<div class="content">
							  <%= raw job.the_content  %>
							</div>
						</div>
					<%end%>

				</div>
		</div>
	</div>