<% contact = current_site.the_post_type("contact")%>
<% count =  contact.the_posts.count%>
<% @post = contact.the_posts[0].decorate%>

<div class="header-image" style="background-image:url(<%= @post.the_thumb_url %>); ">
</div>
<div class="container pt-4">
	<div class="row">

		
			<div class="col-xs-12 col-sm-3">
				<div class="tag"><%= t('contact')%></div>
			</div>
			<div class="col-xs-12 col-sm-9 ">
				<!-- /ENGLISCH ADDRESS -->
				<% contact.the_posts.decorate.each_with_index do |office, index|%>
				
					<% if index < count-1 %>
					    <h2 class="blank mb-0">
							<%= office.the_title%>
							<small>
								<%= office.the_meta("summary")%>
							</small>
						</h2>
						<div class="office-info row article">
							<div class="address-info col-12 col-md-6">
								<%= raw office.the_content%>
							</div>
							<div class="map col-12 col-md-6 p-0">
								<%= office.the_field("map-code").html_safe%>
							</div>

						</div>
					<%else%>
						 <h2 class="border-0 mb-0">
								<%= office.the_title%>
						</h2>
						<div class="info">
							<div class="contact" style="padding-left:0">
								<%= raw office.the_content%>
							</div>

						</div>

					<%end%>
				<%end%>
			</div>


	</div>
</div>