<% mission = current_site.the_post("our-mission")%>
<% newsHeadline = current_site.the_post("headline")%>
<%  news = current_site.the_post_type("news")%>
<div id="content" style="display: block;">
	<!-- / Hompage -->
	<div class="header-image" style="background-image:url(<%= newsHeadline.the_thumb_url %>); ">
	</div>
	<div class="container pt-4" >

		<div class="row">
			
				<div class="col-xs-12 col-md-3 submenu">
					<div class="tag">
						<%= t('news')%>
					</div>
					
				</div>
				<div class="col-xs-12  col-md-9">
				    <%= raw newsHeadline.the_content %>
					<% news.the_posts.where.not(:post_parent => nil).decorate.each_with_index do |newsitem,index|%> 
		
						

						<div id="mem_<%=index%>" class="management-list <%= index == 0 ? 'pt-0': ''%>" id="mep_<%=index%>">
							<a aria-controls="mem_<%=index%>" aria-expanded="false" class="management-member collapsed" data-toggle="collapse" href="#job_mem_<%=index%>" role="button">
								<div class="row no-gutters">
								<div class="col-xs-12 col-md-6 col-lg-4">
									<img class="img-fluid" src="<%= newsitem.the_thumb_url%>" alt="<%= newsitem.the_title%>">
								</div>
								<div class="text col-xs-12 col-md-6 col-lg-8 align-self-center pt-3">
									<p><%= newsitem.the_title%></p>
									<span><%= l(newsitem.the_field("news-date").to_date, format: t('date.formats.dateonly')) %></span>
								</div>
							</div>
							</a>
							<div class="collapse" id="job_mem_<%=index%>" aria-expanded="false" style="height: 7px;">
								<div class="content">
								  <%= raw newsitem.the_content  %>
								</div>
							</div>
						</div>

					<%end%>
				</div>
			
		</div>
	</div>
</div>