<% services = current_site.the_post_type("what-we-do")%>
<% @post = services.the_posts[0].decorate%>
<% activemenu = @post.the_slug%>
<div class="header-image" style="background-image:url(<%= @post.the_thumb_url %>); ">
</div>
<div class="container pt-4" >
		<div class="row">
			
				<div class="col-sm-3 submenu col-xs-12">
					<div class="tag">
						<%= t('services')%>
					</div>
					<!-- / Subpages -->
					<ul>
						<% services.the_posts.decorate.each do |service|%>

			                <li class="<%= activemenu == service.the_slug ? 'active' : ''%> "><a href="<%=service.the_url%>"><%=service.the_title%></a>
			                </li>
			            <%end%>
					</ul>
				</div>
				<div class="col-sm-9 col-xs-12">
					<%= raw @post.the_content %>
				</div>
			
		</div>
	</div>
</div>