<% mission = current_site.the_post("our-mission")%>
<% profile = current_site.the_post("company-profile")%>
<% about = current_site.the_post_type("who-we-are")%>
<div id="content" style="display: block;">
	<!-- / Hompage -->
	<div class="header-image" style="background-image:url(<%= profile.the_thumb_url %>); ">
	</div>
	<div class="container" >
		<div class="row">
			<div class="col-xs-12">
				<center itemprop="mainEntity" itemscope=""><h1><%=raw mission.the_meta("summary") %></h1>
				</center>
			</div>
		</div>
		<div class="row">
			<section>
				<div class="col-sm-3 submenu">
					<div class="tag">
						<%= t('aboutus')%>
					</div>
					<!-- / Subpages -->
					<ul>
					   <% isFirst = 1%>
					   <% about.the_posts.decorate.each_with_index do |submenu,index|%> 
					  
					        <% if submenu.the_field("isshowinsubmenu")  == "1" %>
					   			<li class="<%= isFirst == 1 ? 'active':''%>" ><a  href="<%= submenu.the_url%>"><%=submenu.the_title%></a></li>
					   			<% isFirst = isFirst+1%>
					   		<%end%>
					   <%end%>
						
					</ul>
				</div>
				<div class="col-sm-9">
					<%= raw profile.the_content %>
				</div>
			</section>
		</div>
	</div>
</div>