<% first = articles.the_posts.where(:post_parent => nil)[0].decorate%>
<% articles = current_site.the_post_type("articles")%>
<!-- <div class="header-image" style="background-image:url(<%= first.the_thumb_url %>); ">
</div> -->
<div class="container pt-5 pb-4">
	<div class="row">

<!-- 			<div class="col-xs-12 col-sm-3 submenu">
				<div class="tag">
					<%= t('articles')%>
				</div>
				 / Subpages 
					<ul class="article" >
						<%  @post.the_post_type.the_posts.where.not(:post_parent => nil).decorate.each_with_index do |submenu,index|%> 
					   			<li class="<%=  @post.the_slug == submenu.the_slug ? 'active' : ''%> "><a  href="<%= submenu.the_url%>"><%=submenu.the_title%></a></li>
					   <%end%>
					</ul>
			</div> -->

			<div class="col-12  articlecontainer">
				<h2>
				<div class="row">
				<div class="col-9"> <%= @post.the_title%></div>
				<div class="col-3 small job-date" >
					   
					   <div class="pull-right"><%= l(@post.updated_at, format: t('date.formats.dateonly')) %></div >
					   <br/>
				</div>
				</h2>
				<div class="author">
					<span><%=t('author')%> <%= @post.the_field("author") %></span>
					<div class="pull-right">
						<%= social_share_button_tag(@post.the_title,  :data => { :url => @post.the_url} ) %>
					</div>
				</div>
				<div class="article">
				<%= raw @post.the_content%>
				</div>
				
			</div>		
			<div class="col-12">
				<a href="<%= articles.the_url %>"  style="text-decoration: none" >
					<i class="fa fa-arrow-circle-o-left" aria-hidden="true" style="
				    font-size: 30px;
				"></i> 
					<p >กลับสู่หน้าบทความ</p>
				</a>
			</div>		
	</div>

</div>