<% services = current_site.the_post_type("what-we-do")%>
<% headoffice = current_site.the_post("head-office")%>
<div class="container ">
    <div class="row menu"> 
    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
        <h2><%= t('company') %></h2>
        <div class="uppercase">
   
          <% current_site.the_post_types.where(:slug => ["who-we-are","what-we-do","projects"]).order(:slug=> :DESC).each do |menu| %>
            <p><a href="<%=menu.decorate.the_url%>"><%=menu.decorate.the_title%></a></p>
            <%end%>
        </div>
        <!-- / Social Buttons -->
        <div class="mt-3 mb-3">
            <a class="social" target="_blank" href="https://www.facebook.com/mckellergroup/"><i class="fa fa-facebook"></i></a>
        </div>
       
    </div>
    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
        <h2><%=services.the_title%></h2>
        <ul class="links"> 

            <% services.the_posts.decorate.each do |service|%>
                <a href="<%=service.the_url%>"><li><%=raw service.the_title%></li></a>
            <%end%>
        </ul>
    </div>
    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12 footer">
        <!-- /%h2= t('footer.contact') -->
        <a href="<%=current_site.the_post_type("contact").the_url%>"> <h2><%=headoffice.the_title%></h2></a>
        <%= raw headoffice.the_content%>
    </div>
    </div>
</div>
<div class="copyright">
    <div class="container">
        <div class="col-12" style="text-align:center">
            ©2022 McKeller Co., Ltd. All right reserved.
        </div>
        
    </div>
</div>