<% services = current_site.the_post_type("what-we-do")%>
<% headoffice = current_site.the_post("head-office")%>
<div class="container">
    <div class="col-lg-4 col-md-4">
        <h2><%= t('company') %></h2>
        <div class="uppercase">
          <% current_site.the_post_types[2..4].each do |menu| %>
            <p><a href="<%=menu.decorate.the_url%>"><%=menu.decorate.the_title%></a></p>
            <%end%>
        </div>
        <!-- / Social Buttons -->
        <a class="social" target="_blank" href="#"><i class="fa fa-facebook"></i></a>
        <a class="social" target="_blank" href="#"><i class="fa fa-youtube"></i></a>
        <a class="social" target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
       
    </div>
    <div class="col-lg-4 col-md-4">
        <h2><%=services.the_title%></h2>
        <ul class="links"> 
            <% services.the_posts.where.not(post_parent: nil).decorate.each do |service|%>
                <a href="<%=service.the_url%>"><li><%=raw service.the_title%></li>
            <%end%>
        </ul>
    </div>
    <div class="col-lg-4 col-md-4">
        <!-- /%h2= t('footer.contact') -->
        <h2><%=headoffice.the_title%></h2>
        <%= raw headoffice.the_content%>
    </div>
</div>
<div class="copyright">
    <div class="container">
        <div class="col-12" style="text-align:center">
            ©2017 McKeller Co.,LTD. All right reserved.
        </div>
        
    </div>
</div>