<% profile = current_site.the_post("company-profile")%>
<% key = current_site.the_post("key-personnel")%>
<% about = current_site.the_post_type("who-we-are")%>
<% mission = current_site.the_post("our-mission")%>

<div id="content" style="display: block;">
	<!-- / Hompage -->
	<div class="header-image" style="background-image:url(<%= profile.the_thumb_url %>); ">
	</div>
	<div class="container" >
		<div class="motto">
			<center  class="col-12" itemprop="mainEntity" itemscope=""><h1><%=raw mission.the_meta("summary") %></h1>
			</center>
			
		</div>
		<div class="row">
			
				<div class="col-xs-12 col-md-3 submenu">
					<div class="tag">
						<%= t('aboutus')%>
					</div>
					<!-- / Subpages -->

					<%= raw get_nav_menu('aboutusmenu', 'aboutus')%>
				</div>
				<div class="col-xs-12  col-md-9">
					<%= raw @post.the_content %>
				</div>
			
		</div>
	</div>
</div>