<% services = current_site.the_post_type("what-we-do")%>
<% activemenu = @post.the_slug%>
<div class="header-image" style="background-image:url(<%= @post.the_thumb_url %>); ">
	
</div>
<div class="article container pt-4" >
		<div class="row">
			
				<div class="col-xs-12 col-md-3 submenu">
					<div class="tag">
						<%= t('services')%>
					</div>
					<!-- / Subpages -->
					<ul class="service">
						<% services.the_posts.decorate.each do |service|%>

			                <li class="<%= activemenu == service.the_slug ? 'active' : ''%> "><a href="<%=service.the_url%>"><%=service.the_title%></a>
			                </li>
			            <%end%>
					</ul>
				</div>
				<div class="col-xs-12  col-md-9">
					<%= raw @post.the_content %>
				</div>
			
		</div>
	</div>
</div>