<% profile = current_site.the_post("company-profile")%>
<% manage = current_site.the_post("management")%>
<% about = current_site.the_post_type("who-we-are")%>
<div class="container pt-5" >

		<div class="row">
			
				<div class="col-md-3 submenu">
					<div class="tag">
						<%= t('aboutus')%>
					</div>
					<!-- / Subpages -->
					<%= raw get_nav_menu('aboutusmenu', 'aboutus')%>
					
				</div>
				<div class="col-md-9">
					<%= raw manage.the_content %>
					
					<%  manage.children.where(:status =>"published").decorate.each_with_index do |m,index| %>
					
					<div id="mem_<%=index%>" class="management-list">
						
						<a aria-controls="mem_<%=index%>" aria-expanded="false" class="management-member collapsed" data-toggle="collapse" href="#manage_mem_<%=index%>" role="button">
							<div class="row no-gutters">
							<div class="col-4">
								<img class="img-fluid" src="<%= m.the_thumb_url%>" alt="<%= m.the_title%>">
							</div>
							<div class="text col-8 align-self-center">
								<h3><%= m.the_title%></h3>
								<span><%= raw m.the_meta("summary")%></span>
							</div>
						</div>
						</a>
						<div class="collapse" id="manage_mem_<%=index%>" aria-expanded="false" style="height: 7px;">
							<div class="content">
							  <%= raw m.the_content  %>
							</div>
						</div>
					</div>
					<%end%>
				</div>
			
		</div>
	</div>
</div>